.student-section{
    background-color: #000645;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
}
.student-card-main{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    flex-wrap: wrap;
}

